<!-- ------------------------------------------------------------------- -->
<%- include('partials/header')%>
<!-- ------------------------------------------------------------------- --> 

                <!-- Main content of the app home page -->

    <h1>About</h1>
    <p><%= about.content %></p>
    
<!-- ------------------------------------------------------------------- -->
                    <%- include('partials/footer.ejs') %>
<!-- ------------------------------------------------------------------- -->