<!-- ------------------------------------------------------------------- -->
                    <%- include('partials/header')%>
<!-- ------------------------------------------------------------------- --> 
                    <%- include('partials/navbar')%>
<!-- ------------------------------------------------------------------- --> 

                <!-- Main content of the app home page -->

    <h1>Hello World, This is the home Page</h1>

    
<!-- ------------------------------------------------------------------- -->
                    <%- include('partials/footer.ejs') %>
<!-- ------------------------------------------------------------------- -->