<!-- ------------------------------------------------------------------- -->
<%- include('partials/header')%>
<!-- ------------------------------------------------------------------- --> 

                <!-- Main content of the app home page -->

    <% allPost.map( post => { %>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
    <%} ) %>

<!-- ------------------------------------------------------------------- -->
                    <%- include('partials/footer.ejs') %>
<!-- ------------------------------------------------------------------- -->
